Web Services and Cloud/WCF/WCF-Demo/NorthwindServiceClient/Service References/ServiceReference1/NorthwindService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NorthwindService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2755/NorthwindService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2755/NorthwindService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2755/NorthwindService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INorthwindService_GetCitiesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesCount" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetCitiesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesCountResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetProductUnitPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductUnitPrice" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetProductUnitPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductUnitPriceResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetProductInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInfo" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetProductInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetDayToBgString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDayToBgString" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetDayToBgString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayToBgStringResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetSubstrCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubstrCount" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetSubstrCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubstrCountResponse" />
  </wsdl:message>
  <wsdl:portType name="INorthwindService">
    <wsdl:operation name="GetCitiesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetCitiesCount" message="tns:INorthwindService_GetCitiesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetCitiesCountResponse" message="tns:INorthwindService_GetCitiesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductUnitPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetProductUnitPrice" message="tns:INorthwindService_GetProductUnitPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetProductUnitPriceResponse" message="tns:INorthwindService_GetProductUnitPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetProductInfo" message="tns:INorthwindService_GetProductInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetProductInfoResponse" message="tns:INorthwindService_GetProductInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDayToBgString">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetDayToBgString" message="tns:INorthwindService_GetDayToBgString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetDayToBgStringResponse" message="tns:INorthwindService_GetDayToBgString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubstrCount">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetSubstrCount" message="tns:INorthwindService_GetSubstrCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetSubstrCountResponse" message="tns:INorthwindService_GetSubstrCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INorthwindService" type="tns:INorthwindService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCitiesCount">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetCitiesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductUnitPrice">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetProductUnitPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayToBgString">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetDayToBgString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubstrCount">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetSubstrCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NorthwindService">
    <wsdl:port name="BasicHttpBinding_INorthwindService" binding="tns:BasicHttpBinding_INorthwindService">
      <soap:address location="http://localhost:2755/NorthwindService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>